box-sizing-reset()
normalize()

html
  font-size 10px

body
  cursor default
  font-size 1rem
  font-family 'Objectivity', Arial, sans-serif
  font-variant-ligatures none
  background #fff

.site-wrapper
  max-width 750px
  margin 0 auto
  padding 0 1.5em

.loading
  display block
  max-width 30px
  margin 1em auto
