main.main.listing
    div.tabs
        ul.tab-list
        li.tab-list__item.active(data-tab='tab1') #[span.full Presidente] #[span.abbr Presidente]
        li.tab-list__item(data-tab='tab2') #[span.full Governador] #[span.abbr Governo]
        li.tab-list__item(data-tab='tab3') #[span.full Senador] #[span.abbr Senado]
        li.tab-list__item(data-tab='tab4') #[span.full Federal] #[span.abbr Federal]
        li.tab-list__item(data-tab='tab5') #[span.full Estadual] #[span.abbr Estadual]

        div.tab-content
        div.tab-content__item(data-tab='tab1' data-candidate='presidente')
        div.tab-content__item(data-tab='tab2' data-candidate='governador')
        div.tab-content__item(data-tab='tab3' data-candidate='senador')
        div.tab-content__item(data-tab='tab4' data-candidate='federal')
        div.tab-content__item(data-tab='tab5' data-candidate='estadual')