.mapp
  padding 0 0 5em
  #map
      display block
      margin 0 auto
    .state
      cursor pointer
      .shape
        cursor pointer
        width 0
      .label_icon_state
        fill #fff
        font-family Arial
        font-size 11px
        line-height 12px
        font-weight normal
      .label_state 
        display none
        font-family Arial
        font-size 14px
        line-height 16px
        font-weight bold
        &:hover,
        &.hover
          .label_state
            display none
    .model-green
      .state
        .shape
          fill #6cb361
        .icon_state
          fill #10592f
        .label_icon_state
          fill #fff
        .label_state
          fill #666
        &:hover .shape,
        &.hover .shape
          fill darken(yellow,30%)
        &:hover,
        &.hover
          .icon_state
            fill darken(yellow,30%)
    .model-orange
      .state
        .shape
          fill #fd7132
        .icon_state
          fill #6cb361
        .label_icon_state
          fill #fff
        .label_state
          fill #666
        &:hover .shape,
        &.hover .shape 
          fill #c93f04
        &:hover,
        &.hover
          .icon_state
            fill #10592f
      .model-darkgreen
        .state
          .shape
            fill #366823
          .icon_state
            fill #2779c6
          .label_icon_state
            fill #fff
          .label_state
            fill #666
          &:hover,
          &.hover
            .shape
              fill #4a8c31
          &:hover,
          &.hover
            .icon_state
              fill #5a95ce
.backmap
    display none
    font-size 2em
    text-align center
    padding 0 0 1em
    &:hover,
    &:focus
      cursor pointer
      font-weight 800