@font-face {
  font-family: 'Objectivity';
  font-weight: 900;
  src: url("../fonts/Objectivity-Black.woff2") format("woff2");
}
@font-face {
  font-family: 'Objectivity';
  font-weight: bold;
  src: url("../fonts/Objectivity-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'Objectivity';
  font-weight: normal;
  src: url("../fonts/Objectivity-Regular.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 10px;
}
body {
  cursor: default;
  font-size: 1rem;
  font-family: 'Objectivity', Arial, sans-serif;
  font-variant-ligatures: none;
  background: #fff;
}
.site-wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.loading {
  display: block;
  max-width: 30px;
  margin: 1em auto;
}
.tab-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
}
.tab-list__item {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #aaa;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1.2em;
  padding-top: 1em;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.tab-list__item .abbr {
  display: none;
}
@media (max-width: 580px) {
  .tab-list__item {
    font-size: 1.3rem;
  }
  .tab-list__item .full {
    display: none;
  }
  .tab-list__item .abbr {
    display: block;
  }
}
.tab-list__item:after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  height: 3px;
  bottom: -2px;
  background: transparent;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.tab-list__item:hover {
  color: #c3c3c3;
}
.tab-list__item.active {
  color: #000;
}
.tab-list__item.active:after {
  background: #000;
}
.tab-content {
  padding-top: 3em;
}
.tab-content__item {
  display: none;
}
.tab-content__item.active {
  display: block;
}
.candidate-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0 5em;
  box-shadow: 0 5px 10px rgba(204,204,204,0.1);
}
.candidate-item-column__photo {
  -webkit-flex-basis: 25%;
  -ms-flex-basis: 25%;
  flex-basis: 25%;
}
@media (max-width: 580px) {
  .candidate-item-column__photo {
    -webkit-flex-basis: 35%;
    -ms-flex-basis: 35%;
    flex-basis: 35%;
    padding-right: 2em;
  }
}
.candidate-item-column__content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 1em;
}
.candidate-item__photo {
  display: block;
  height: 170px;
  width: 122px;
  background: url("../img/loading.gif") center no-repeat #fff;
  background-size: 30px auto;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 580px) {
  .candidate-item__photo {
    width: 100%;
  }
}
.candidate-item__photo[src] {
  filter: grayscale(100%);
  max-width: 100%;
  width: auto;
  border-color: transparent;
}
@media (max-width: 580px) {
  .candidate-item__photo[src] {
    height: auto;
  }
}
.candidate-item__number {
  background: #2f4858;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  padding: 0.3em 0.5em 0.2em;
}
@media (max-width: 580px) {
  .candidate-item__number {
    font-size: 2rem;
  }
}
.candidate-item__name {
  margin: 0.6em 0;
  font-size: 2.7rem;
}
@media (max-width: 580px) {
  .candidate-item__name {
    font-size: 2.5rem;
  }
}
.candidate-item__coalition {
  margin: 0.4em 0;
  color: #aaa;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
@media (max-width: 580px) {
  .candidate-item__coalition {
    font-size: 1.6rem;
  }
}
.header {
  padding: 5em 0;
}
.header-title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: -0.05em;
  background-image: -webkit-linear-gradient(top,#2ed72a 0%,#2ed72a 40%,#ebff39 40%,#ebff39 80%,#fff 80%,#fff 100%);
  background-image: -moz-linear-gradient(top,#2ed72a 0%,#2ed72a 40%,#ebff39 40%,#ebff39 80%,#fff 80%,#fff 100%);
  background-image: -ms-linear-gradient(top,#2ed72a 0%,#2ed72a 40%,#ebff39 40%,#ebff39 80%,#fff 80%,#fff 100%);
  background-image: -o-linear-gradient(top,#2ed72a 0%,#2ed72a 40%,#ebff39 40%,#ebff39 80%,#fff 80%,#fff 100%);
  background-image: -webkit-linear-gradient(top,#2ed72a 0%,#2ed72a 40%,#ebff39 40%,#ebff39 80%,#fff 80%,#fff 100%);
  background-image: -moz-linear-gradient(top,#2ed72a 0%,#2ed72a 40%,#ebff39 40%,#ebff39 80%,#fff 80%,#fff 100%);
  background-image: -ms-linear-gradient(top,#2ed72a 0%,#2ed72a 40%,#ebff39 40%,#ebff39 80%,#fff 80%,#fff 100%);
  background-image: -o-linear-gradient(top,#2ed72a 0%,#2ed72a 40%,#ebff39 40%,#ebff39 80%,#fff 80%,#fff 100%);
  background-image: linear-gradient(to bottom,#2ed72a 0%,#2ed72a 40%,#ebff39 40%,#ebff39 80%,#fff 80%,#fff 100%);
  overflow: hidden;
  border-radius: 2px;
}
.header-title span {
  background: #fff;
  padding: 0.3em 0;
  box-shadow: 10px 0 15px 20px #fff;
}
.header-description {
  margin: 0.5em 0 0 0;
  padding-left: 0.4em;
  font-size: 1rem;
  color: #aaa;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
.footer {
  border-top: 1px solid #eee;
  padding-top: 1em;
}
.footer-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #aaa;
}
.footer-description a {
  color: #777;
  border-bottom: 1px solid #777;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer-description a:hover {
  color: #000;
  border-color: #000;
}
